/* Default light theme styles */
:root {
    --background-color: #fff;
    --text-color: #000;
    --footer-background-color: #f1f1f1;
}

/* Dark theme styles */
[data-theme='dark'] {
    --background-color: #121212;
    --text-color: #fff;
    --footer-background-color: #333;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Footer Styling */
.app-footer {
    background-color: var(--footer-background-color);
}

/* Media Queries for Footer Positioning */
@media screen and (min-height: 1000px) {
    .app-footer {
        position: fixed;
        bottom: 0;
    }
}

/* Media Queries for Intro Text */
@media screen and (min-width: 1700px) {
    .app-intro-text {
        max-width: 700px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1700px) {
    .app-intro-text {
        max-width: 560px;
    }
}

.free-text-tabs-parent {
    padding: 0 15% 20px 15%;
}

.tabIcon {
    height: 24px;
    width: 24px;
}

.tabLabel {
    vertical-align: text-bottom;
    margin-left: 5px;
}
